# замени @your-username на свой ник на GitHub
/src/greyhound_predictor/calculator.py   @romaak87
/src/greyhound_predictor/**              @romaak87
/tests/**                                @romaak87
*                                        @romaak87
